html {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 1.5;
    color: crimson;
}


body {
    margin: 0px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color:#000000;
    color: crimson;
    
}

section {
    margin: 10px;
    border: 5px;
    padding: 5px;

}

.text-white {
    color: white;
}

.bg-black {
    background-color: #000000;
}

.frame {
    position: relative;
    margin: 5px 5px 10px 5px;
    border: 2px solid gray;
    float: left;
    width: 100px;
    border-radius: 5px;
}
.frame img {
    padding: 5px 5px 0px 5px;
    width: 100%;
    height: auto;
    border-radius: 5px
}

.name {
    padding: 0px;
    text-align: center;
    font-size: 90%;
    background:black;
    color: #ffffff;
}

.nav {
    padding:20px;
    margin-left:340px;
    margin-top:-30px;
}

.nav li a { 
    margin:5px;
    padding: 15px 50px; 
    font-size:16px; 
    color:white; 
    background: #000;
    transition-duration: 0.4s;
}
.nav a:hover { 
    background:#333; 
}
.nav .active { 
    background-color: black; !important;
    color: white;
    border: 2px solid white;
    font-weight: bolder;
}

.footer {
    margin-top: 255px;
    padding: 20px;
    width: 100%;
    background-color: black;
    color: gray;
    text-align: center;
    font-size: 14px;
    float: left;
}

.error-modal {
    color: gray;
    background-color: black;
}